<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MHAPI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MHDevice.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MHDownloader.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>MHExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>MHImageCache.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>MHLog.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>MHOrientation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>MHTextFieldListView.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>MHUIUtility.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>MHUserDefaults.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>MHUtility-Package.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MHUtility.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Rx (Playground) 1.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Rx (Playground) 2.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>Rx (Playground).xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>MHAPI</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MHAPITests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MHDevice</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MHDeviceTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MHDownloader</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MHDownloaderTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MHExtension</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MHExtensionTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MHImageCache</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MHImageCacheTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MHLog</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MHLogTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MHOrientation</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MHOrientationTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MHTextFieldListView</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MHTextFieldListViewTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MHUIUtility</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MHUIUtilityTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MHUserDefaults</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MHUserDefaultsTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>MHUtility</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
